#paineis-sobre {
    margin-top: 20px;
}

.titulo-depoimentos {
    background-color: #0275D8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}

.grupo-radio, .contato-select {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.grupo-radio .radio:first-child {
    margin-top: 0;
}
